/* start global rules */
html {
    scroll-behavior: smooth!important;
}

* {
    font-family: 'Poppins', sans-serif;
    transition: all .2s linear;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth!important;
}

:root{
    --maincolor: #29d9d5;
    --black: #111;
    --white: #fff;
    --lightcolor: #aaa;
    --bgcolor: #222;
    --blackbg: rgba(17, 17, 17, .7);
}

body {
    background-color: var(--black);
    overflow-x: hidden;
}

.btn {
    color: var(--maincolor)!important;
    border: 1px solid var(--maincolor)!important;
    border-radius: 50px;
    padding: 8px 25px;
}

.btn:hover {
    color: var(--black)!important;
    background-color: var(--maincolor);
    border: 1px solid var(--maincolor);
}

section {
    padding: 70px 0px;
}

/* end global rules */

/* start header section style */

header nav {
    background: var(--bgcolor);
}

header nav .navbar-brand {
    color: var(--white)!important;
    font-size: 25px;
    font-weight: 600;
    margin: 7px 0px;
}

header nav .navbar-brand i {
    color: var(--maincolor);
    padding-right: 8px;
}


header nav ul li a {
    color: var(--lightcolor)!important;
    margin: 0px 5px;
}

header nav ul li a:hover {
    color: var(--maincolor)!important;
}



/* end header section style */

/* start home section style */

.home {
    margin-top: 90px!important;
    width: 90%;
    margin: 0 auto;
    height: auto;
    background-image: linear-gradient(rgba(17, 17, 17, .7),rgba(17, 17, 17, .7)) ,url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.home .content {
    text-align: center;
}

.home .content span {
    color: transparent;
    font-weight: bolder;
    -webkit-text-stroke: .1rem var(--white);
    font-size: 35px;
    display: block;
}

.home .content h3 {
    color: var(--white);
    font-size: 50px;
    font-weight: bolder;
}

.home .content p {
    color: var(--white);
    margin: 35px auto;
    line-height: 2;
    width: 60%;
    margin: auto;
}

.home .content a {
    margin-top: 30px;
}


/* end home section style */

/* start about section style */

.about {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.about .content {
    margin-top: 20px;
}

.about .content span {
    color: var(--maincolor);
    display: block;
}

.about .content h2 {
    color: var(--white);
    margin: 10px 0px;
}

.about .content p {
    color: var(--lightcolor);
    line-height: 2;
}



/* end about section style */

/* start destenation section style */

.destination span {
    display: block;
    text-align: center;
    color: var(--maincolor);
    font-size: 25px;
    font-weight: 500;
}

.destination  h2 {
    text-align: center;
    color: var(--white);
    margin: 10px 0 50px;
    font-size: 34px;
    font-weight: 500;
}

.destination .container {
    margin-top: 50px;
    position: relative;
}

.container .box {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin: 10px 0;
}

.container .box .imgBx {
    width: 100%;
    max-width: 100%;
}

.container .box .imgBx img {
    width: 100%;
    max-width: 100%;
}

.container .box:hover {
    cursor: pointer;
}

.container .box .content {
    position: absolute;
    bottom: -120px;
    width: 100%;
    height: 120px;
    z-index: 10;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    transition: bottom 0.5s;
}

.container .box:hover .content {
    bottom: 0px;
}

/* end destenation section style */

/* start services section style */

.services span {
    display: block;
    text-align: center;
    color: var(--maincolor);
    font-size: 25px;
    font-weight: 500;
}

.services h2 {
    text-align: center;
    color: var(--white);
    margin: 10px 0 50px;
    font-size: 34px;
    font-weight: 500;
}

.services .box {
    background-color: var(--bgcolor);
    margin: 10px 0;
    border: 1px solid var(--bgcolor);
}

.services .box:hover {
    border: 1px solid var(--maincolor);
}

.services .box i {
    color: var(--maincolor);
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.services .box h3 {
    color: var(--white);
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.services .box p {
    color: var(--lightcolor);
    margin: 20px 0;
    line-height: 2;
    margin-bottom: 30px;
    text-align: center;
}

/* end services section style */

/* start gallery section style */

.gallery span {
    display: block;
    text-align: center;
    color: var(--maincolor);
    font-size: 25px;
    font-weight: 500;
}

.gallery h2 {
    text-align: center;
    color: var(--white);
    margin: 10px 0 50px;
    font-size: 34px;
    font-weight: 500;
}



/* end gallery section style */

/* start blogs section style */


.blogs span {
    display: block;
    text-align: center;
    color: var(--maincolor);
    font-size: 25px;
    font-weight: 500;
}

.blogs h2 {
    text-align: center;
    color: var(--white);
    margin: 10px 0 50px;
    font-size: 34px;
    font-weight: 500;
}

.blogs .box {
    background-color: var(--bgcolor);
    overflow: hidden;
}

.blogs .box .image {
    width: 100%;
    max-width: 100%;
}

.blogs .box .image img {
    width: 100%;
    max-width: 100%;
}

.blogs .box .image img:hover {
    transform: scale(1.1);
}

.blogs .box h5 {
    color: var(--white);
    text-align: left;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 7px;
}

.blogs .box p {
    color: var(--lightcolor);
    text-align: left;
    width: 85%;
    margin: auto;
    margin-bottom: 15px;
}

.blogs .box .info {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-bottom: 13px;
}

.blogs .box .info span {
    font-size: 14px;
    
}

.blogs .box .info span i {
margin-right: 5px;
}

/* end blogs section style */

/* start banner section style */

.banner {
    background-image: linear-gradient(rgba(17, 17, 17, .7),rgba(17, 17, 17, .7)) ,url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
}

.banner .content {

}

.banner .content span {
    display: block;
    color: var(--maincolor);
}

.banner .content h1 {
    color: var(--white);
}

.banner .content p {
    color: var(--lightcolor);
    width: 50%;
    margin: auto;
    line-height: 2;
}

.banner .content a {
    margin-top: 20px;
}

/* end banner section styel */

/* start footer section style */

footer {
    padding-top: 70px;
    width: 100%;
}

footer .row {
    margin-bottom: 30px;
}

footer .row .col-lg-3 a {
    color: var(--white);
    font-size: 35px;
}

footer .row .col-lg-3 a i {
    color: var(--maincolor);
    margin-right: 5px;
}

footer .row .col-lg-3 p {
    color: var(--lightcolor);
}

footer .row .col-lg-3 .icons {
    color: var(--maincolor);
}

footer .row .col-lg-3 .icons i {
    border: 1px solid var(--maincolor);
    border-radius: 7px;
    padding: 5px 15px;
}

footer .row .col-lg-3 .icons i:hover {
    color: black;
    background: var(--maincolor);
    border: 1px solid var(--maincolor);
    transform: rotate(360deg);
}

footer .row h2 {
    color: var(--white);
    font-size: 35px;
}

footer .row .links {
    margin-left: 5px;
}

footer .row .links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
}

footer .personalInfo {
    font-size: 15px;
    font-weight: 200;
}

footer .personalInfo p {
    color: var(--lightcolor);
    text-transform: none;
    font-size: 14px;
}

footer .personalInfo p i {
    color: var(--maincolor);
    margin-right: 5px;
}

footer form {

}

footer form label {
    color: var(--lightcolor);
}

footer form input {
    background: transparent!important;
    border: 1px solid var(--maincolor)!important;
    border-radius: 50px!important;
}

footer form a {
    font-size: 15px!important;
    margin-top: 10px!important;
}

footer h6 {
    color: var(--lightcolor);
    font-size: 25px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px!important;
    border-top: 1px solid var(--lightcolor);
    
}

footer h6 span {
    color: var(--maincolor);
}


/* end footer section style */

/* start scroll to up style */

#button {
    display: inline-block;
    background-color: var(--maincolor);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

/* end scroll to up style */

/* start media query */

@media screen and (max-width: 1042px){
    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 991px){
    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 496px){
    body {
        overflow-x: hidden;
    }
    .home .content h3 {
        font-size: 30px;
    }
    .banner .content h1 {
        font-size: 30px;
    }
    footer .col-lg-3 {
        margin: 10px 0;
    }
    footer h6 {
        font-size: 20px;
        font-weight: 300;
    }

}

